body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon,
.avatar {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
}

.username {
  font-size: 16px;
}

.nav {
  list-style: none;
  padding-left: 20px;
  padding-top: 10px;
  width: 10%;
}

.nav li {
  margin-bottom: 5px;
  font-size: 18;
}

.navItemActive {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.navItemInactive {
  text-decoration: none;
  color: blue;
}

.students-page-container {
  display: flex;
  width: auto;
}

.students-table-header-block {
  width: 100%;
  padding-right: 30px;
  padding-left: 75px;
}

.above-table-block {
  display: flex;
  width: auto;
  margin-bottom: 10px;
}

.add-student-button {
  float: right;
  margin-left: auto;
  height: 40px;
  width: 40px;
  font-size: 18px;
  align-self: flex-end;
}

.students-table {
  width: 100%;
  border-collapse: collapse;
}

.students-table th,
.students-table td {
  border: 2px solid black;
  text-align: center;
}

.circle-status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

.online {
  background-color: rgb(38, 203, 38);
}

.offline {
  background-color: rgb(151, 143, 143);
}

.table-options {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.edit-table-button {
  width: 30px;
  height: 30px;
}

.delete-table-button {
  width: 30px;
  height: 30px;
}

.edit-table-button img,
.delete-table-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.table-options button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}

.add-modal-window {
  display: none;
  position: fixed;
  background-color: rgb(122, 191, 238);

  width: 300px;
  height: 250px;

  top: 20%;
  left: 40%;

  border-radius: 10px;
  border: 2px solid black;
}

.add-modal-header {
  display: flex;
  padding: 12px 12px 0 12px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-self: flex-start;
}

.image-button img {
  width: 15px;
  height: auto;
}

.add-modal-content {
  display: grid;
  grid-template-columns: 33% 66%;
  grid-template-rows: repeat(5, 1fr);

  justify-items: center;
  align-items: center;

  padding: 12px 12px 10px 12px;
  border-bottom: 1px solid black;
}

.add-modal-footer {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 12px 8px 10px 12px;
}

.add-modal-input {
  width: 60%;
}
